<!DOCTYPE HTML>
<!--
	Tessellate by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{{title}}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.scrolly.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="/css/skel.css" />
			<link rel="stylesheet" href="/css/style.css" />
			<link rel="stylesheet" href="/css/style-wide.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie/v9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
		<section id="header" class="dark">
			<header>
				<h1>{{i18n.header_title}}</h1>
				<p>{{i18n.header_sub}}</p>
			</header>
			<footer>
				<a href="#first" class="button scrolly">{{i18n.header_scroll}}</a>
			</footer>
		</section>
			
		<!-- First -->
		<section id="first" class="main">
			<header>
				<div class="container">
					<h2>{{i18n.first_title}}</h2>
					<p>{{i18n.first_msg}}</p>
				</div>
			</header>
			<div class="content dark style1 featured">
				<div class="container">
					<div class="row">
						<div class="4u">
							<section>
								<span class="feature-icon"><span class="icon fa-book"></span></span>
								<header>
									<h3>{{i18n.first_storia}}</h3>
								</header>
								<p>{{i18n.first_storiamsg}}</p>
							</section>
						</div>
						<div class="4u">
							<section>
								<span class="feature-icon"><span class="icon fa-tree"></span></span>
								<header>
									<h3>{{i18n.first_natura}}</h3>
								</header>
								<p>{{i18n.first_naturamsg}}</p>
							</section>
						</div>
						<div class="4u">
							<section>
								<span class="feature-icon"><span class="icon fa-home"></span></span>
								<header>
									<h3>{{i18n.first_accoglienza}}</h3>
								</header>
								<p>{{i18n.first_accoglienzamsg}}</p>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="12u">
							<footer>
								<a href="#second" class="button scrolly">{{i18n.first_more}}</a>
							</footer>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Second -->
		<section id="second" class="main">
			<header>
				<div class="container">
					<h2>{{i18n.second_title}}</h2>
					<p>{{i18n.second_msg}}</p>
				</div>
			</header>
			<div class="content dark style2">
				<div class="container">
					<div class="row">
						<div class="4u">
							<section>
								<h3>{{i18n.second_lefttitle}}</h3>
								<p>{{i18n.second_lefttext}}</p>
								<footer>
									<a href="#third" class="button scrolly">{{i18n.second_more}}</a>
								</footer>
							</section>
						</div>
						<div class="8u">
							<div class="row no-collapse">
								<div class="6u"><a href="#" class="image fit"><img src="images/pic01.jpg" alt="" /></a></div>
								<div class="6u"><a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a></div>
							</div>
							<div class="row no-collapse">
								<div class="6u"><a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a></div>
								<div class="6u"><a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a></div>
							</div>
							<div class="row no-collapse">
								<div class="6u"><a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a></div>
								<div class="6u"><a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
			
		<!-- Third -->
		<section id="third" class="main">
			<header>
				<div class="container">
					<h2>{{i18n.third_title}}</h2>
					<p>{{i18n.third_msg}}</p>
				</div>
			</header>
			<div class="content dark style3">
				<div class="container">
					<span class="image featured"><img src="images/pic07.jpg" alt="" /></span>
					<div class="row">
						<div class="4u">
							<h3>{{i18n.third_col1title}}</h3>
							<p>{{i18n.third_col1text}}</p>
						</div>
						<div class="4u">
							<p>{{i18n.third_col2text}}</p>
						</div>
						<div class="4u">
							<p>{{i18n.third_col3text}}</p>
							<footer>
								<a href="#footer" class="button scrolly">{{i18n.third_more}}</a>
							</footer>
						</div>
					</div>
				</div>
			</div>
		</section>
			
		<!-- Footer -->
		<section id="footer">
			<ul class="icons">
				<li><a href="https://www.google.it/maps/@43.808273,11.512789,3a,75y,215.61h,88.64t/data=!3m4!1e1!3m2!1sxpK3BuRA9MZokuTTnAKMtw!2e0" class="icon fa-map-marker"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-youtube"><span class="label">YouTube</span></a></li>
				<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			</ul>
			<div class="copyright">
				<ul class="menu">
					<li><a href="mailto:info@podere.it">info@podere.it</a> | <a href="tel:0550505050">0550505050</a></li>
				</ul>
			</div>
		</section>
		
	</body>
</html>